# Core Data Structures in Pandas

Pandas is built on **two main data structures**:

1. **Series** → One-dimensional (like a single column in Excel)
2. **DataFrame** → Two-dimensional (like a full spreadsheet or SQL table)

***

## Series — 1D Labeled Array

A `Series` is like a list with **labels (index)**.

```python
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)
```

**Output:**

```
0    10
1    20
2    30
3    40
dtype: int64
```

Notice the **automatic index**: 0, 1, 2, 3

You can also define a custom index:

```python
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
```

A `pandas.Series` may look similar to a Python dictionary because both store data with labels, but a Series offers much more. Unlike a dictionary, a Series supports fast vectorized operations, automatic index alignment during arithmetic, and handles missing data using `NaN`. It also allows both label-based and position-based access, and integrates seamlessly with the pandas ecosystem, especially DataFrames. While a dictionary is great for simple key–value storage, a Series is better suited for data analysis and manipulation tasks where performance, flexibility, and built-in functionality matter.

***

## DataFrame — 2D Labeled Table

A `DataFrame` is like a **dictionary of Series** — multiple columns with labels.

```python
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)
```

**Output:**

```
     name  age      city
0   Alice   25     Delhi
1     Bob   30    Mumbai
2  Charlie   35  Bangalore
```

Each column in a `DataFrame` is a `Series`.

***

## Index and Labels

Every Series and DataFrame has an **Index** — it helps with:

* Fast lookups
* Aligning data
* Merging & joining
* Time series operations

```python
df.index         # Row labels
df.columns       # Column labels
```

You can change them using:

```python
df.index = ["a", "b", "c"]
df.columns = ["Name", "Age", "City"]
```

***

## Why Learn These Well?

Most Pandas operations are built on these foundations:

* Selection
* Filtering
* Merging
* Aggregation

Understanding Series & DataFrames will make everything else easier.

***

## Summary

* `Series` = 1D array with labels
* `DataFrame` = 2D table with rows + columns
* Both come with index and are the heart of Pandas

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([12,14,43,54,89,40])
print(s1)

0    12
1    14
2    43
3    54
4    89
5    40
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
s2 = pd.Series([12,14,43,54,89,40], index = ["karan", "amar", "ruchi", "chetna", "hero", "motu"])
#You can also define custom index:

In [5]:
s2

karan     12
amar      14
ruchi     43
chetna    54
hero      89
motu      40
dtype: int64

In [6]:
s2["karan"]

np.int64(12)

In [7]:
s2["ruchi"]

np.int64(43)

In [8]:
#A DataFrame is like a dictionary of Series — multiple columns with labels.
data = {
    "Name" : ["Karan", "Ruchi", "Chetna"],
    "Age" : [20,19,18],
    "Section" : ["A", "B", "C"]
}

In [9]:
df = pd.DataFrame(data)
df

     Name  Age Section
0   Karan   20       A
1   Ruchi   19       B
2  Chetna   18       C

In [10]:
df.columns  # Column labels

Index(['Name', 'Age', 'Section'], dtype='object')

In [11]:
df.index #row labels

RangeIndex(start=0, stop=3, step=1)