In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("data.csv")
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [8]:
#i want data with imdb greater than 7
df = df[df["IMDb"] > 7]

In [9]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [10]:
#i want to write this data into updated csv but in this case it will give index to protect the data
df.to_csv("data_updated.csv")

In [11]:
#if i dont't want the index 
df.to_csv("data_updated.csv", index = False)

In [15]:
#read json file
df = pd.read_json("my-json.json")
df

   id     name                                     address
0   1    Alice      {'city': 'Delhi', 'zipcode': '243546'}
1   2      Bob     {'city': 'Mumbai', 'zipcode': '400001'}
2   3  Charlie      {'city': 'Noida', 'zipcode': '201301'}
3   4    Diana  {'city': 'Bangalore', 'zipcode': '560001'}
4   5    Ethan    {'city': 'Kolkata', 'zipcode': '700001'}

In [18]:
data = [
  {
    "id": 1,
    "name": "Alice",
    "address": {
      "city": "Delhi",
      "zipcode": "243546"
    }
  },
  {
    "id": 2,
    "name": "Bob",
    "address": {
      "city": "Mumbai",
      "zipcode": "400001"
    }
  }
]

In [19]:
#if i want to separate the data in address like city and zipcode with colm
df1 = pd.json_normalize(data)

In [20]:
df1

   id   name address.city address.zipcode
0   1  Alice        Delhi          243546
1   2    Bob       Mumbai          400001